{
  "endpointBase": "http://appsearch:3002",
  "engineName": "crawlinator",
  "hostIdentifier": "host-XXXXX",
  "searchKey": "private-p1j1xmt5gu33bdyjd5c4ipj6",
  "searchFields": ["title", "description"],
  "resultFields": ["id", "title", "anotherField", "someField", "created"],
  "querySuggestFields": ["title"],
  "titleField": "title",
  "urlField": "url",
  "sortFields": ["title", "anotherField"],
  "facets": ["anotherField", "someField"]
}
